#aside {
  position: relative;
  width: 100%;
  height: 52px;
  padding: 16px;
  background-color: var(--black250);

  .asideImage {
    width: 100%;
    height: 52px;
  }

  button {
    width: 14px;
    height: 14px;
    background-color: unset;
    cursor: pointer;

    .lucide-x {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
    }
  }
}

#adAside {
  display: block;
  position: fixed;
  top: 50%;
  width: 260px;
  height: 600px;
  padding: 24px;
  background-color: var(--black250);
  border-radius: 4px;
  box-sizing: border-box;

  &.left {
    left: 50%;
    transform: translate(340px, -50%);
  }

  &.right {
    right: 50%;
    transform: translate(-340px, -50%);
  }
}
