#dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  position: relative;
  height: calc(100vh - 100px);

  .dashboardCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 4px;
    // background-color: var(--white);

    .newTradeTitle {
      font-size: 16px;
      font-weight: bold;
      padding: 0 16px;
    }
  }

  .mainSlider {
    position: relative;
    background-color: var(--black300);

    .paginationBox {
      position: absolute;
      right: 16px;
      bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      line-height: 1;
      color: var(--white);
      background-color: rgba(000, 000, 000, .15);
      padding: 4px 8px;
      border-radius: 16px;
    }
  }

  .dashboardSlider {
    .mySwiper {
      .swiper-slide {
        height: 150px;
      }
    }
  }

  .dashboardNewTrade {
    padding-bottom: 16px;

    .mySwiper {
      .swiper-slide {
        width: 275px !important;
      }
    }
  }
}